extends layout

block content
  .card
    h3.card-title 图片分享
    form(action="")
      .form-group.row
        label.col-sm-2 浏览
        input.col-sm-10.form-control-file(type='file',name='imgfile')
      .form-group.row
        label.col-sm-2 标题
        input.col-sm-8.form-control(type='text', name='title')
      .form-group.row
        label.col-sm-2 描述
        input.col-sm-8.form-control(type='text', name='description')
      .form-group.row
        .offset-md-8.col-sm-2
          button.btn.btn-primary.btn-block(type='submit') 提交