doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      block content
